<li class="preview_message" data-id="{{id}}">
  <a class="preview_message__hashlink" href="#{{id}}">
    <div class="preview_message__avatar">
      <img alt="avatar" src="{{avatar_url}}" alt="">
    </div>
    <div class="preview_message__data">
      <div class="preview_message__name">{{user}}</div>
      <div class="preview_message__text">{{last_message}}</div>
    </div>
    <div class="preview_message__info">
      <div class="preview_message__date">
        {{updated_at}}
      </div>
      <div class="preview_message__badge">{{unread_count}}</div>
    </div>
  </a>
</li>
