<form id="{{id}}" class="{{class}}">
  {{{email}}}
  {{{login}}}
  {{{display_name}}}
  {{{first_name}}}
  {{{second_name}}}
  {{{phone}}}
  {{{password}}}
  {{{oldPassword}}}
  {{{newPassword}}}

  {{{attachment}}}
  {{{message}}}
  
  {{#if readOnly}}{{else}}{{{button}}}{{/if}}
</form>
