<form>
  {{{email}}}
  {{{login}}}
  {{{first_name}}}
  {{{second_name}}}
  {{{phone}}}
  {{{password}}}
  {{{password_confirm}}}

  {{{attachment}}}
  {{{message}}}
  
  {{#if readOnly}}{{else}}{{{button}}}{{/if}}
</form>
