<div class="chat">
  <aside class="chat__sidebar">
    <div class="sidebar__header">
      {{{profileButton}}}
    </div>
    <div class="search">
      <input type="text" class="search__input" placeholder="Поиск">
    </div>
    <div class="sidebar__list">
      <ul class="list__preview_message">
        {{#each chains}}
          <li class="preview_message" data-id="{{id}}">
            <a class="preview_message__hashlink" href="#chat_{{id}}">
              <div class="preview_message__avatar">
                {{#if companion.avatar_url}}
                  <img alt="avatar" src="https://ya-praktikum.tech/api/v2/resources/{{avatar}}" alt="">
                {{/if}}
              </div>
              <div class="preview_message__data">
                <div class="preview_message__name">{{title}}</div>
                <div class="preview_message__text">{{last_message.content}}</div>
              </div>
              <div class="preview_message__info">
                <div class="preview_message__date">
                  {{updated_at}}
                </div>
                <div class="preview_message__badge">{{unread_count}}</div>
              </div>
            </a>
          </li>
        {{/each}}
        {{{newChatButton}}}
      </ul>
    </div>
  </aside>
  <div class="chat__messages">
    {{#if activeChain.id}}
      <div class="messages__header">
        <div class="header__user">
          <div class="user__avatar">
            {{#if activeChain.info.avatar}}
              <img alt="avatar" src="https://ya-praktikum.tech/api/v2/resources/{{activeChain.info.avatar}}" alt="">
            {{/if}}
          </div>
          <div class="user__username">{{activeChain.info.title}}</div>
        </div>
      </div>
      <div class="messages__list">
        {{#each messages}}
          <div class="message" data-direction="{{direction}}">
            {{content}}
          </div>    
        {{/each}}
      </div>
      <div class="messages__bottom send_message">
        {{{newMessageForm}}}
        <div class="send_message__messages__attachment"></div>
        <div class="messages__input"></div>
        <div class="messages__send">
        </div>
      </div>
    {{else}}
      <div class="messages__pick_action">
        Выберите чат чтобы отправить сообщение
      </div>
    {{/if}}
  </div>
  {{#if activeChain.participants}}
    {{{participants}}}
  {{/if}}
</div>
