<div class="chat">
  {{{sidebar}}}
  <aside class="chat__sidebar">
    <div class="sidebar__header">
      <a onClick="renderPage('account')" class="sidebar__profile_link">Профиль</a>
    </div>
    <div class="search">
      <input type="text" class="search__input" placeholder="Поиск">
    </div>
    <div class="sidebar__list">
      <ul class="list__preview_message">
        {{#each chains}}
          <li class="preview_message" data-id="{{id}}">
            <div class="preview_message__avatar">
              <img alt="avatar" src="{{avatar_url}}" alt="">
            </div>
            <div class="preview_message__data">
              <div class="preview_message__name">{{user}}</div>
              <div class="preview_message__text">{{last_message}}</div>
            </div>
            <div class="preview_message__info">
              <div class="preview_message__date">
                {{updated_at}}
              </div>
              <div class="preview_message__badge">{{unread_count}}</div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </aside>
  <div class="chat__messages">
    <div class="messages__pick_action">
      Выберите чат чтобы отправить сообщение
    </div>
  </div>
</div>
