<div class="wrapper">
  <div class="side_action">
    {{{backButton}}}
  </div>

  <div class="profile">
    <div class="profile__wrap">
      <button class="profile__avatar">
        <img alt="avatar" src="{{user.avatar}}" alt="" class="avatar">
        <input class="profile__avatar_attacher" type="file">
      </button>
      <div class="profile__fields">
        {{{inputs}}}
      </div>

      <div class="profile__buttons">
        {{#if readOnly}}
          {{{profileEditButton}}}
          {{{signOutButton}}}
        {{else}}
          {{{signOutButton}}}
        {{/if}}
      </div>
    </div>
  </div>
</div>

