<div class="wrapper">
  <div class="side_action">
    {{{backButton}}}
  </div>

  <div class="profile">
    <div class="profile__wrap">
      <button class="profile__avatar">
        {{#if user.avatar}}
          <img alt="avatar" src="https://ya-praktikum.tech/api/v2/resources/{{user.avatar}}" alt="" class="avatar">
        {{/if}}
        {{{avatarUploader}}}
      </button>
      <div class="profile__fields">
        {{{inputs}}}
      </div>

      <div class="profile__buttons">
        {{#if readOnly}}
          {{{profileEditButton}}}
          {{{signOutButton}}}
        {{else}}
          {{{signOutButton}}}
        {{/if}}
      </div>
    </div>
  </div>
</div>

