{{#if readOnly}}
  <div class="field">
    <div class="field__label">{{label}}</div>
    <div class="field__value">VALUE HERE {{value}}</div>
  </div>
{{else}}
  <div class="input input--{{name}} {{#if error}}input--error{{/if}}" data-name="{{name}}">
    <label for="{{name}}">
      {{label}}
    </label>
    <input
      name="{{name}}"
      defaultValue="{{value}}"
      type="{{type}}"
      id="{{name}}"
      placeholder="{{label}} пустой"
      title="Паттерн для ввода: {{pattern}}"
      {{#if required}}required{{/if}}
      {{#if pattern}}pattern="{{pattern}}"{{/if}}
    />
    <span class="input__error">Паттерн для ввода: {{pattern}}</span>
  </div>
{{/if}}<br>
